/* .herosection {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    justify-content: center;
    background-color: rgba(248, 211, 255, 0.36);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    height: 70vh;

    .text {
        margin-top: 20vh;
        padding: 0vh 15vh;
        display: flex;
        align-items: center;
        flex-direction: column;

        .herobutton {
            display: flex;
            justify-content: space-around;
            width: 22rem;

            button {
                background-color: white;
            }
        }
    }

    @media (max-height: 720px) {
        background-size: cover;
        height: 90vh;
    }
}

.top_mid {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 3rem;

    .TM_1 {
        border-radius: 20px;
        position: relative;
        width: 80%;
        max-height: 440px;
        background-color: rgba(25, 0, 66, 1);

        .content {
            position: relative;
            top: -8rem;
            color: antiquewhite;
        }
    }

    .TM_2 {
        position: relative;
        top: 2rem;
    }

    .poster {
        position: absolute;
        right: 0;
        top: 40px;
    }
} */
 .Home{
    position: absolute;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #f8f9fc;
    font-family: "Mulish", sans-serif;

    .about-section {
        padding: 0 5%;
        margin-top: 1rem;
        background: #f8f9fc;
        align-items: center;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 100px;
        
            @media (max-width: 992px) {
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }
        }
        
   }
    
    
    .about-image {
    
        .image-wrapper {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
    
            img {
                width: 100%;
                border-radius: 15px;
            }
    
           
        }
    }
    
    .about-content {
        flex: 1;
        max-width: 700px;
    
        .about-content-title{
            color: #6a6a6a;
            font-size: 24px;
            font-weight: 600;
        }
    
        .about-content-heading{
            font-size: 40px;
            font-weight: 700;
            line-height: 1.2;
            margin: 0;
            margin-bottom: 15px;
            color: #011846;
        }
        .about-content-description{
            font-size: 16px;
            line-height: 1.6;
            color: #8B82C2;
            margin-bottom: 15px;
        }
        @media (max-width: 425px){
            .about-content-title{
                text-align: left;
            }
            .about-content-heading{
                text-align: left;
                font-size: 20px;
                line-height: 1.3;
            }
            .about-content-description{
                text-align: left;
            }
        }
    
    }
    
    .about-button {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        color: #011846;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s ease;
    
        &:hover {
            color: #05173d;
        }
    }
    @media (max-width: 425px){
      .about-button{
        width: 100%;
      }
    }

    .blog-section {
        background: #f9f9fc;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 10%;
        background-image: url("../assets/Rectangle5873.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .blog-section-heading{
            /* background-color: yellow; */
            text-align: start;
            width: 100%;
            color: #2E007A;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.3;
            @media (max-width: 425px){
              font-size: 24px;
            }
        }
    
        .container {
            display: flex;
            gap: 50px;
            max-width: 1200px;
            width: 100%;
    
            @media (max-width: 992px) {
                flex-direction: column;
                /* text-align: center; */
            }
    
            .featured-blog {
                flex: 1;
                max-width: 350px;
    
                h2 {
                    font-size: 28px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    color: #2E007A;
                    span {
                        color: #2E007A;
                    }
                }
    
                .featured-content {
                    padding: 20px;
                    border: 2px solid #E7E7E7;
                    border-radius: 10px;
    
                    .featured-content-heading{
                        font-size: 18px;
                        color: #011846;
                    }
    
                    p {
                        font-size: 14px;
                        margin-bottom: 10px;
                        color: #666;
                    }
    
                    a {
                        font-size: 14px;
                        font-weight: 600;
                        color: #011846;
                        text-decoration: none;
                        transition: color 0.3s;
    
                        &:hover {
                            color: rgb(14, 13, 68);
                        }
                    }
                }
            }
    
            .blog-grid {
                flex: 2;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
    
                @media (max-width: 768px) {
                    grid-template-columns: repeat(1, 1fr);
                }
    
                .blog-card {
                    background: white;
                    border-radius: 10px;
                    padding: 15px;
                    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); */
                    border: 2px solid #E7E7E7;
                    transition: transform 0.3s;
    
                    &:hover {
                        transform: translateY(-5px);
                    }
    
                    img {
                        width: 100%;
                        border-radius: 10px;
                    }
    
                    .blog-info {
                        padding: 10px 0;
    
                        .blog-info-heading{
                            font-size: 16px;
                            color: #333;
                            margin: 0;
                            margin-bottom: 5px;
                        }
    
                        p {
                            font-size: 12px;
                            color: #777;
                            margin: 0;
                            margin-bottom: 5px;
                        }
    
                        a {
                            font-size: 14px;
                            font-weight: 600;
                            color: #011846;
                            text-decoration: none;
                            transition: color 0.3s;
    
                            &:hover {
                                color: #0a0a29;
                            }
                        }
                    }
                }
            }
        }
    
        .explore-more {
            margin-top: 40px;

    
            a {
                font-size: 18px;
                font-weight: 600;
                color: #011846;
                text-decoration: none;
                transition: color 0.3s;
    
                &:hover {
                    color: #2522bb;
                }
            }
        }
    }
    
    
    
    
 }
.herosection {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 31%, rgba(255, 201, 243, 1) 69%); */
    background-color: #F8D3FF5C;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    height: 700px;
    z-index: 10;
    @media (max-width:860px) {
        clip-path: unset;
    }

    .text {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* background-color: red; */
        @media (max-width: 660px) {
            width: 95%;
            text-align: left;
        }
        .description{
            color: #737373;
            font-size: 24px;
            font-weight: 400;
            width: 75vw;
            @media (max-width: 560px) {
                font-size: 18px;
                /* background-color: yellow; */
             }
        }
        .text-heading{
            color: #190042;
            font-size: 64px;
            font-weight: 700;
            line-height: 70px;
            padding: 0;
            margin: 0;
            @media (max-width: 1024px) {
                font-size: 42px;
                font-weight: 700;
                line-height: 40px;
             }
            @media (max-width: 560px) {
               font-size: 28px;
               font-weight: 700;
               line-height: 40px;
            }
        }

        .herobutton {
            display: flex;
            justify-content: center;
            gap: 22px;
            /* width: 33rem; */
            /* margin: 2rem 2rem; */
            .explore{
                background: #011846;
                a{
                    color: white;
                }
            }
            .get{
                background: transparent;
                border: 1px solid #011846;
                color: #011846;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                
            }
            button{    
                height: 64px;
                font-size: 24px;
                z-index: 99;
                color: white;
                border-radius: 4px;
            }
            @media (max-width: 670px) {
                width: 100%;
                button{
                    height: 64px;
                    font-size: 16px;
                }
            }

            @media (max-width: 430px){
               /* background-color: pink; */
               width: 100%;
               justify-content: left;
               gap: 10px;
               margin-bottom: 4rem;
               button{
                font-size: 14px;
                padding: 0 10px;
                height: 50px;
               }
            }
            

        }
    }
    .background{
        position: absolute;
        top: 100px;
        img{
            width: 100vw;
        }
        @media(max-width:1024px) {
                position: absolute;
                top: 22rem;
            
        }
        @media (max-width:560px) {
            top: 26rem;
        }
    }
}

.top_mid {
    height: 450px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -6rem;
    z-index: 100;
    /* @media (max-width:860px) {
        margin-top: -8rem;
    }
    @media (max-width:460px) {
        margin-top: -4rem;
    } */
    button {
        background: linear-gradient(90deg, rgba(59,88,238,1) 35%, rgba(169,100,232,1) 100%);
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 34px;
        cursor: pointer;
    }
}

.slider-wrapper {
    position: relative;
    display: flex;
    gap: 5px;
    cursor: grab;
    user-select: none;
    width: 100%;
    transition: transform 0.5sease-in-out;
    justify-content: center;
}


.TM_1 {
    position: absolute;
    width: 280px;
    background: rgba(25, 0, 66, 1);
    color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    perspective: 1000px;
    cursor: pointer;
    @media (max-width:460px) {
        width: 220px;
    }
    .content{
        padding: 0 14px;
        .content-title{
          font-size: 48px;
          font-weight: 600;
          margin: 0;
          padding: 0;
        }
        .content-subtitle{
            font-weight: 500;
            font-size: 16px;
        }
        .content-description{
            font-size: 12px;
            font-weight: 400;
        }
        @media (max-width:460px){
           .content-title{
             font-size: 20px;
           } 
           .content-subtitle{
            font-size: 12px;
          }
          .content-description{
            font-size: 10px;
          }
        }
    }
}

.center-card {
    transform: scale(1.2);
    z-index: 10;
}

.TM_1:hover {
    transform: scale(1.05);
}


