.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .popup-box {
        background: white;
        padding: 20px;
        width: 40%;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
        text-align: center;

        h2 {
            margin-bottom: 15px;
            font-size: 20px;
        }

        .close-btn {
            position: absolute;
            top: -20px;
            right: -12px;
            background: none;
            border: none;
            font-size: 25px;
            cursor: pointer;
            color: #333;
            background-color: white;         
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 0;
            padding-top: 5px;
            padding-left: 7px;
            padding-right: 6px;
            border-radius: 50%;
           
        }
        .head{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }

        form {
            .input-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                text-align: left;
                /* background-color: yellow; */

                label {
                    font-size: 14px;
                    margin-bottom: 5px;
                }

                input, textarea {
                    padding: 8px;
                    border: 1px solid #D9D9D9;
                    background-color: #F8F8F8;
                    border-radius: 4px;
                    font-size: 14px;
                    width: 95%;
                }

                textarea {
                    resize: none;
                    height: 60px;
                }
            }

            .send-btn {
                width: 100%;
                background: #2E007A;
                color: white;
                border: none;
                padding: 10px;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                &:hover {
                    background: #3a0066;
                }
            }
        }

        .social-icons {
           
            display: flex;
            justify-content: center;
            gap: 15px;

            i {
                font-size: 20px;
                cursor: pointer;
                color: #555;
                transition: color 0.3s ease;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    @media (max-width:768px){
        .popup-box{
            width: 80%;
        }
    }

    @media (max-width:375px){
        .popup-box{
            width: 70%;
        }
    }

}
